<div class="flex flex-col w-full">
  <div class="grid grid-cols-3 gap-6 mb-6">
    <div class="rounded-lg p-6 flex justify-between bg-gray-100 shadow-lg">
      <span class="font-bold">Total players</span>
      <span class="text-5xl text-orange-500"><%= @user_count %></span>
    </div>
    <div class="rounded-lg p-6 flex justify-between bg-gray-100 shadow-lg">
      <span class="font-bold">Total rooms</span>
      <span class="text-5xl text-orange-500"><%= @room_count %></span>
    </div>
    <div class="rounded-lg p-6 flex justify-between bg-gray-100 shadow-lg">
      <span class="font-bold">Total games played</span>
      <span class="text-5xl text-orange-500">4</span>
    </div>
  </div>
  <div class="w-1/2 rounded-lg p-6 bg-gray-100 shadow-lg">
    <span class="font-bold">Estimate statistic</span>
  </div>
</div>
