<div class="text-orange-500 mb-4">
  Statistics
</div>
<div class="flex flex-col text-sm space-y-2">
  <div class="flex w-full justify-between">
    <span>Game played:</span>
    <span class="text-orange-500"><%= room.total_games %></span>
  </div>
  <div class="flex w-full justify-between">
    <span>Choice estimate 4:</span>
    <span class="text-orange-500">2</span>
  </div>
  <div class="flex w-full justify-between">
    <span>Choice estimate 3:</span>
    <span class="text-orange-500">1</span>
  </div>
  <div class="flex w-full justify-between">
    <span>Choice estimate 6:</span>
    <span class="text-orange-500">6</span>
  </div>
</div>