<div class="text-orange-500 mb-4">
  Statistics
</div>
<div class="flex flex-col text-sm space-y-2">
  <div class="flex w-full justify-between">
    <span>Game played:</span>
    <span class="text-orange-500"><%= room.total_games %></span>
  </div>
  <div class="flex w-full justify-between">
    <span>Last game played:</span>
    <span class="text-orange-500"><%= room.last_game_played %></span>
  </div>
  <% if room.has_estimate_statistics? %>
    <% room.estimate_statistics.each do |k, v| %>
      <div class="flex w-full justify-between">
        <span>Choice estimate <%= k %>:</span>
        <span class="text-orange-500"><%= v %></span>
      </div>
    <% end %>
  <% end %>
</div>